<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NHibCnnString" value="Server=PETERTOP\PTOPSQL2012; Database=NHibernateDemo; Integrated Security=SSPI;"/>
  </appSettings>
</configuration>